# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age   
Qualification   
Years of Experience   
Grade   
Gender      

The age variable will be a non-negative real number between 25 & 66.
The Qualification variable will be a categorical variable with one of 3 different values: Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number, and will be based on age and qualification.
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [9]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(columns=['Age','Gender','Qualification','Years of Experience','Grade'])
df

Empty DataFrame
Columns: [Age, Gender, Qualification, Years of Experience, Grade]
Index: []

In [11]:
#insert age data into dataframe
df ['Age'] = np.random.randint(25, 66, 450)
df

     Age Gender Qualification Years of Experience Grade
0     57    NaN           NaN                 NaN   NaN
1     39    NaN           NaN                 NaN   NaN
2     30    NaN           NaN                 NaN   NaN
3     32    NaN           NaN                 NaN   NaN
4     61    NaN           NaN                 NaN   NaN
5     62    NaN           NaN                 NaN   NaN
6     49    NaN           NaN                 NaN   NaN
7     63    NaN           NaN                 NaN   NaN
8     27    NaN           NaN                 NaN   NaN
9     61    NaN           NaN                 NaN   NaN
10    28    NaN           NaN                 NaN   NaN
11    64    NaN           NaN                 NaN   NaN
12    25    NaN           NaN                 NaN   NaN
13    25    NaN           NaN                 NaN   NaN
14    51    NaN           NaN                 NaN   NaN
15    63    NaN           NaN                 NaN   NaN
16    52    NaN           NaN                 NaN   NaN
17    32    NaN           NaN                 NaN   NaN
18    25    NaN           NaN                 NaN   NaN
19    64    NaN           NaN                 NaN   NaN
20    56    NaN           NaN                 NaN   NaN
21    42    NaN           NaN                 NaN   NaN
22    33    NaN           NaN                 NaN   NaN
23    28    NaN           NaN                 NaN   NaN
24    35    NaN           NaN                 NaN   NaN
25    61    NaN           NaN                 NaN   NaN
26    40    NaN           NaN                 NaN   NaN
27    49    NaN           NaN                 NaN   NaN
28    46    NaN           NaN                 NaN   NaN
29    65    NaN           NaN                 NaN   NaN
..   ...    ...           ...                 ...   ...
420   25    NaN           NaN                 NaN   NaN
421   32    NaN           NaN                 NaN   NaN
422   25    NaN           NaN                 NaN   NaN
423   39    NaN           NaN                 NaN   NaN
424   41    NaN           NaN                 NaN   NaN
425   41    NaN           NaN                 NaN   NaN
426   60    NaN           NaN                 NaN   NaN
427   39    NaN           NaN                 NaN   NaN
428   42    NaN           NaN                 NaN   NaN
429   29    NaN           NaN                 NaN   NaN
430   25    NaN           NaN                 NaN   NaN
431   53    NaN           NaN                 NaN   NaN
432   44    NaN           NaN                 NaN   NaN
433   40    NaN           NaN                 NaN   NaN
434   39    NaN           NaN                 NaN   NaN
435   56    NaN           NaN                 NaN   NaN
436   61    NaN           NaN                 NaN   NaN
437   37    NaN           NaN                 NaN   NaN
438   48    NaN           NaN                 NaN   NaN
439   46    NaN           NaN                 NaN   NaN
440   56    NaN           NaN                 NaN   NaN
441   44    NaN           NaN                 NaN   NaN
442   33    NaN           NaN                 NaN   NaN
443   28    NaN           NaN                 NaN   NaN
444   48    NaN           NaN                 NaN   NaN
445   42    NaN           NaN                 NaN   NaN
446   56    NaN           NaN                 NaN   NaN
447   52    NaN           NaN                 NaN   NaN
448   56    NaN           NaN                 NaN   NaN
449   59    NaN           NaN                 NaN   NaN

[450 rows x 5 columns]

In [19]:
#Insert age, gender & qualification columns to dataframe
gender = ['male', 'female']
qual = ['Level 10', 'Level 9', 'Level 8']
df = pd.DataFrame({'Age': np.random.randint(25,66,450),
                   'Gender': np.random.choice(gender, 450,p=[0.4, 0.6])})
df

     Age  Gender
0     28    male
1     30  female
2     33    male
3     63    male
4     56  female
5     53    male
6     54    male
7     50  female
8     48  female
9     28  female
10    53    male
11    48    male
12    40  female
13    44  female
14    39    male
15    32  female
16    37    male
17    54    male
18    40    male
19    37  female
20    56    male
21    39  female
22    25    male
23    29    male
24    45    male
25    36  female
26    48    male
27    30  female
28    55    male
29    54  female
..   ...     ...
420   58  female
421   41  female
422   40  female
423   55  female
424   41  female
425   61  female
426   25    male
427   42    male
428   50    male
429   60  female
430   60    male
431   54  female
432   54  female
433   60    male
434   30  female
435   53  female
436   62  female
437   58  female
438   51    male
439   55  female
440   61    male
441   32    male
442   27    male
443   40  female
444   45  female
445   44  female
446   42  female
447   50  female
448   42  female
449   49  female

[450 rows x 2 columns]

After some research into the GMIT staff data I discovered that currently 21% of academic staff hold a PhD, 62% hold a Master's Degree, and the remainder an Honours Degree. I also found that the gender breakdown in academic staff is 40% male, 60% female. After running the above code I realised that I need to look at the relationship between age & qualification, as, for example, a 25 year old staff member is unlikely to hold a PhD, given that the acadmic minimum requirements are a qualification to at least Level 8 plus three years experience. A Level 8 qualification generally takes 3/4 years, a Masters degree another one, and a PhD at least another 3/4, so the minimum age of a PhD holder employed by GMIT in an academic role cannot be less than 27. I couldn't find any recent data on the average age of completion of a PhD, however the median age of a PhD student in Ireland was 26.5 years in 2013, and in 1997 the typical age of a PhD graduate in Ireland was between 24 & 27.

In [40]:
def qual(row):

                if row['Age']>= 27:

                                return np.random.choice ('Level 10', 'Level 9', 'Level 8', p=[0.2, 0.6, 0.2])

                if row['Age']< 27:

                                return np.random.choice ('Level 9', 'Level 8', p=[0.8, 0.2])
                    
qual =df.apply (lambda row: qual(row),axis=1)
df['Qualification'] =qual

ValueError: ('a must be 1-dimensional or an integer', 'occurred at index 0')

In [ ]:
'Qualification': np.random.choice(qual, 450, p=[0.21, 0.62, 0.17])

### References
https://nonpartisaneducation.org/Review/Resources/Int__lHigherEd_AppendixA.pdf   
http://www.iua.ie/wp-content/uploads/2013/08/IUS-01-2013-Report-on-PhD-Students.pdf   
http://hea.ie/assets/uploads/2018/01/Higher-Education-Institutional-Staff-Profiles-by-Gender-2018.pdf

In [ ]:
df.apply(lambda row: qual(row),axis=1)