# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age   
Qualification   
Years of Experience   
Grade   
Gender      

The age variable will be a non-negative real number between 22 & 66.
The Qualification variable will be a categorical variable with one of 4 different values: none, Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number, and will be based on age.
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [2]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(columns=['Age','Gender','Qualification','Years of Experience','Grade'])
df

Empty DataFrame
Columns: [Age, Gender, Qualification, Years of Experience, Grade]
Index: []

In [9]:
#insert age data into dataframe
df ['Age'] = np.random.randint(22, 66, 450)
df

     Age Gender Qualification Years of Experience Grade
0     39    NaN           NaN                 NaN   NaN
1     53    NaN           NaN                 NaN   NaN
2     43    NaN           NaN                 NaN   NaN
3     37    NaN           NaN                 NaN   NaN
4     59    NaN           NaN                 NaN   NaN
5     55    NaN           NaN                 NaN   NaN
6     22    NaN           NaN                 NaN   NaN
7     39    NaN           NaN                 NaN   NaN
8     33    NaN           NaN                 NaN   NaN
9     39    NaN           NaN                 NaN   NaN
10    63    NaN           NaN                 NaN   NaN
11    56    NaN           NaN                 NaN   NaN
12    54    NaN           NaN                 NaN   NaN
13    41    NaN           NaN                 NaN   NaN
14    45    NaN           NaN                 NaN   NaN
15    50    NaN           NaN                 NaN   NaN
16    58    NaN           NaN                 NaN   NaN
17    37    NaN           NaN                 NaN   NaN
18    26    NaN           NaN                 NaN   NaN
19    26    NaN           NaN                 NaN   NaN
20    56    NaN           NaN                 NaN   NaN
21    22    NaN           NaN                 NaN   NaN
22    44    NaN           NaN                 NaN   NaN
23    23    NaN           NaN                 NaN   NaN
24    62    NaN           NaN                 NaN   NaN
25    33    NaN           NaN                 NaN   NaN
26    63    NaN           NaN                 NaN   NaN
27    27    NaN           NaN                 NaN   NaN
28    37    NaN           NaN                 NaN   NaN
29    30    NaN           NaN                 NaN   NaN
..   ...    ...           ...                 ...   ...
420   35    NaN           NaN                 NaN   NaN
421   55    NaN           NaN                 NaN   NaN
422   50    NaN           NaN                 NaN   NaN
423   24    NaN           NaN                 NaN   NaN
424   26    NaN           NaN                 NaN   NaN
425   26    NaN           NaN                 NaN   NaN
426   47    NaN           NaN                 NaN   NaN
427   45    NaN           NaN                 NaN   NaN
428   54    NaN           NaN                 NaN   NaN
429   30    NaN           NaN                 NaN   NaN
430   50    NaN           NaN                 NaN   NaN
431   31    NaN           NaN                 NaN   NaN
432   58    NaN           NaN                 NaN   NaN
433   65    NaN           NaN                 NaN   NaN
434   33    NaN           NaN                 NaN   NaN
435   43    NaN           NaN                 NaN   NaN
436   62    NaN           NaN                 NaN   NaN
437   40    NaN           NaN                 NaN   NaN
438   29    NaN           NaN                 NaN   NaN
439   23    NaN           NaN                 NaN   NaN
440   60    NaN           NaN                 NaN   NaN
441   50    NaN           NaN                 NaN   NaN
442   46    NaN           NaN                 NaN   NaN
443   29    NaN           NaN                 NaN   NaN
444   32    NaN           NaN                 NaN   NaN
445   49    NaN           NaN                 NaN   NaN
446   22    NaN           NaN                 NaN   NaN
447   29    NaN           NaN                 NaN   NaN
448   58    NaN           NaN                 NaN   NaN
449   43    NaN           NaN                 NaN   NaN

[450 rows x 5 columns]

In [21]:
gender = ['male', 'female']
df = pd.DataFrame({'Age': np.random.randint(22,66,450),
                   'Gender': np.random.choice(gender, 450,p=[0.4, 0.6])})
df

     Age  Gender
0     44    male
1     26  female
2     52  female
3     29    male
4     41    male
5     50  female
6     42  female
7     27    male
8     30    male
9     65    male
10    51  female
11    42    male
12    43    male
13    51  female
14    48    male
15    49    male
16    45  female
17    22  female
18    32  female
19    35    male
20    37    male
21    54  female
22    23  female
23    50    male
24    50  female
25    64    male
26    62    male
27    44    male
28    55  female
29    65    male
..   ...     ...
420   46    male
421   55    male
422   52  female
423   62    male
424   30  female
425   42    male
426   37    male
427   22    male
428   34    male
429   22  female
430   61  female
431   36  female
432   37    male
433   37  female
434   27  female
435   65    male
436   57    male
437   22  female
438   39    male
439   54    male
440   24  female
441   41    male
442   31  female
443   27    male
444   34    male
445   45  female
446   47    male
447   64    male
448   38    male
449   53  female

[450 rows x 2 columns]