# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age   
Qualification   
Years of Experience   
Grade   
Gender      

The age variable will be a non-negative real number between 22 & 66.
The Qualification variable will be a categorical variable with one of 4 different values: none, Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number, and will be based on age.
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [1]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=['Age','Gender','Qualification','Years of Experience','Grade'])
df

Empty DataFrame
Columns: [Age, Gender, Qualification, Years of Experience, Grade]
Index: []

In [10]:
#insert age data into dataframe
df ['Age'] = np.random.randint(22, 66, 450)
Gender = ['male', 'female']
df ['Gender'] = np.random.choice(Gender, p=[0.6,0.4]
df

SyntaxError: invalid syntax (<ipython-input-10-7d4fc03427a9>, line 5)