# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age   
Qualification   
Years of Experience   
Grade   
Gender      

The age variable will be a non-negative real number between 22 & 66.
The Qualification variable will be a categorical variable with one of 4 different values: none, Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number, and will be based on age.
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [2]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(columns=['Age','Gender','Qualification','Years of Experience','Grade'])
df

Empty DataFrame
Columns: [Age, Gender, Qualification, Years of Experience, Grade]
Index: []

In [4]:
#insert age data into dataframe
df ['Age'] = np.random.randint(22, 66, 450)
df

     Age Gender Qualification Years of Experience Grade
0     30    NaN           NaN                 NaN   NaN
1     63    NaN           NaN                 NaN   NaN
2     50    NaN           NaN                 NaN   NaN
3     29    NaN           NaN                 NaN   NaN
4     26    NaN           NaN                 NaN   NaN
5     33    NaN           NaN                 NaN   NaN
6     32    NaN           NaN                 NaN   NaN
7     63    NaN           NaN                 NaN   NaN
8     56    NaN           NaN                 NaN   NaN
9     41    NaN           NaN                 NaN   NaN
10    47    NaN           NaN                 NaN   NaN
11    38    NaN           NaN                 NaN   NaN
12    24    NaN           NaN                 NaN   NaN
13    53    NaN           NaN                 NaN   NaN
14    52    NaN           NaN                 NaN   NaN
15    27    NaN           NaN                 NaN   NaN
16    25    NaN           NaN                 NaN   NaN
17    44    NaN           NaN                 NaN   NaN
18    47    NaN           NaN                 NaN   NaN
19    60    NaN           NaN                 NaN   NaN
20    62    NaN           NaN                 NaN   NaN
21    51    NaN           NaN                 NaN   NaN
22    57    NaN           NaN                 NaN   NaN
23    62    NaN           NaN                 NaN   NaN
24    64    NaN           NaN                 NaN   NaN
25    27    NaN           NaN                 NaN   NaN
26    61    NaN           NaN                 NaN   NaN
27    26    NaN           NaN                 NaN   NaN
28    29    NaN           NaN                 NaN   NaN
29    25    NaN           NaN                 NaN   NaN
..   ...    ...           ...                 ...   ...
420   52    NaN           NaN                 NaN   NaN
421   51    NaN           NaN                 NaN   NaN
422   63    NaN           NaN                 NaN   NaN
423   62    NaN           NaN                 NaN   NaN
424   28    NaN           NaN                 NaN   NaN
425   48    NaN           NaN                 NaN   NaN
426   53    NaN           NaN                 NaN   NaN
427   45    NaN           NaN                 NaN   NaN
428   42    NaN           NaN                 NaN   NaN
429   58    NaN           NaN                 NaN   NaN
430   45    NaN           NaN                 NaN   NaN
431   25    NaN           NaN                 NaN   NaN
432   33    NaN           NaN                 NaN   NaN
433   58    NaN           NaN                 NaN   NaN
434   51    NaN           NaN                 NaN   NaN
435   44    NaN           NaN                 NaN   NaN
436   61    NaN           NaN                 NaN   NaN
437   52    NaN           NaN                 NaN   NaN
438   41    NaN           NaN                 NaN   NaN
439   28    NaN           NaN                 NaN   NaN
440   57    NaN           NaN                 NaN   NaN
441   51    NaN           NaN                 NaN   NaN
442   28    NaN           NaN                 NaN   NaN
443   56    NaN           NaN                 NaN   NaN
444   48    NaN           NaN                 NaN   NaN
445   31    NaN           NaN                 NaN   NaN
446   63    NaN           NaN                 NaN   NaN
447   26    NaN           NaN                 NaN   NaN
448   35    NaN           NaN                 NaN   NaN
449   45    NaN           NaN                 NaN   NaN

[450 rows x 5 columns]

In [5]:
gender = ['male', 'female']
qual = ['Level 10', 'Level 9', 'Level 8']
df = pd.DataFrame({'Age': np.random.randint(22,66,450),
                   'Gender': np.random.choice(gender, 450,p=[0.4, 0.6]), 
                  'Qualification': np.random.choice(qual, 450, p=[0.21, 0.62, 0.17])})
df

     Age  Gender Qualification
0     29    male       Level 8
1     30  female       Level 9
2     26  female      Level 10
3     35    male       Level 9
4     38    male       Level 9
5     24  female      Level 10
6     42  female       Level 9
7     61  female       Level 9
8     32  female      Level 10
9     65    male      Level 10
10    50  female       Level 9
11    34  female       Level 9
12    50  female       Level 9
13    56    male      Level 10
14    34    male      Level 10
15    33  female       Level 9
16    41  female       Level 9
17    41  female       Level 8
18    43  female       Level 9
19    56  female       Level 9
20    61  female       Level 9
21    43  female      Level 10
22    47  female       Level 9
23    51    male       Level 8
24    50  female       Level 9
25    46  female      Level 10
26    47    male       Level 8
27    24    male       Level 9
28    42  female       Level 9
29    37  female      Level 10
..   ...     ...           ...
420   51  female       Level 9
421   38  female       Level 9
422   35  female       Level 9
423   60  female       Level 9
424   25  female       Level 9
425   40  female      Level 10
426   34    male       Level 9
427   28  female       Level 9
428   40    male       Level 9
429   35  female      Level 10
430   34  female       Level 9
431   33    male       Level 9
432   36    male       Level 9
433   27  female       Level 9
434   31    male       Level 9
435   65  female       Level 8
436   37  female       Level 9
437   37    male      Level 10
438   59    male      Level 10
439   45  female       Level 9
440   37  female      Level 10
441   43    male       Level 8
442   65    male       Level 9
443   27  female      Level 10
444   53  female       Level 9
445   61    male       Level 9
446   29  female       Level 9
447   48  female       Level 9
448   35  female      Level 10
449   46  female       Level 8

[450 rows x 3 columns]