# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age   
Qualification   
Years of Experience   
Grade   
Gender      

The age variable will be a non-negative real number between 25 & 66.
The Qualification variable will be a categorical variable with one of 3 different values: Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number, and will be based on age and qualification.
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [2]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [61]:
#Insert age, gender & qualification columns to dataframe
gender = ['male', 'female']
df = pd.DataFrame({'Age': np.random.randint(25,66,450),
                   'Gender': np.random.choice(gender, 450,p=[0.4, 0.6])})
#Function to assign qual depending on age, i.e. <27 cannot hold PhD
def qual(row):

                if row['Age']>= 27:

                    return np.random.randint (8,11)
                
                else: 
                    
                    return np.random.randint (8,9)
                                  
qual =df.apply (lambda row: qual(row),axis=1)
df['Qualification'] = qual
df

     Age  Gender  Qualification
0     56  female              8
1     43    male              9
2     53  female             10
3     61  female              9
4     52    male              9
5     35    male              9
6     27  female              9
7     39  female              9
8     62    male              9
9     55  female              9
10    37    male              8
11    49  female              8
12    38    male              8
13    40    male             10
14    54    male              8
15    32  female              9
16    40  female              8
17    55  female             10
18    31  female             10
19    42  female              8
20    45    male              9
21    52  female              8
22    33  female             10
23    55  female              8
24    44    male             10
25    60    male              8
26    31    male              9
27    32  female              9
28    60    male              8
29    50    male              8
..   ...     ...            ...
420   45    male              8
421   42  female             10
422   34    male             10
423   59    male             10
424   64    male              8
425   25  female              8
426   48  female              9
427   58    male              9
428   61  female              9
429   65    male              9
430   58  female              9
431   57  female             10
432   42    male              9
433   34  female              8
434   31  female             10
435   62  female              8
436   54    male              9
437   62    male              9
438   28  female              9
439   55    male             10
440   40  female              8
441   39    male             10
442   28    male             10
443   36  female              8
444   31  female              8
445   38    male             10
446   40  female              8
447   55    male             10
448   37    male             10
449   31  female              8

[450 rows x 3 columns]

In [58]:
df['Qualification'].unique()

array([8, 9], dtype=int64)

After some research into the GMIT staff data I discovered that currently 21% of academic staff hold a PhD, 62% hold a Master's Degree, and the remainder an Honours Degree. I also found that the gender breakdown in academic staff is 40% male, 60% female. After running the above code I realised that I need to look at the relationship between age & qualification, as, for example, a 25 year old staff member is unlikely to hold a PhD, given that the acadmic minimum requirements are a qualification to at least Level 8 plus three years experience. A Level 8 qualification generally takes 3/4 years, a Masters degree another one, and a PhD at least another 3/4, so the minimum age of a PhD holder employed by GMIT in an academic role cannot be less than 27. I couldn't find any recent data on the average age of completion of a PhD, however the median age of a PhD student in Ireland was 26.5 years in 2013, and in 1997 the typical age of a PhD graduate in Ireland was between 24 & 27.

In [56]:
#Function to assign qual depending on age, i.e. <27 cannot hold PhD
def qual(row):

                if row['Age']>= 27:

                    return np.random.randint (8,10)
                
                else: 
                    
                    return np.random.randint (8,9)
                                  
qual =df.apply (lambda row: qual(row),axis=1)
df['Qualification'] = qual

In [ ]:
'Qualification': np.random.choice(qual, 450, p=[0.21, 0.62, 0.17])

In [ ]:
else: 
                    
                    return np.random.choice (qual27, 2, p=[0.8, 0.2])

### References
https://nonpartisaneducation.org/Review/Resources/Int__lHigherEd_AppendixA.pdf   
http://www.iua.ie/wp-content/uploads/2013/08/IUS-01-2013-Report-on-PhD-Students.pdf   
http://hea.ie/assets/uploads/2018/01/Higher-Education-Institutional-Staff-Profiles-by-Gender-2018.pdf

In [ ]:
df.apply(lambda row: qual(row),axis=1)