# Project to simulate a data set using numpy.random

#### The real world phenomenom I have chosen for this project is the gender breakdown at senior management level in Institutes of Technology.   
I will look at the following variables:   
Age
Qualification
Years of Experience
Grade
Gender   

The age variable will be a non-negative real number between 18 & 66.
The Qualification variable will be a categorical variable with one of 4 different values: none, Level 8, Level 9, Level 10.
The years of experience variable will be a non-negative real number
The Grade variable will be a categorical variable with one of 7 different values: Assistant Lecturer, Lecturer, Senior Lecturer 1, Senior Lecturer 2, Senior Lecturer 3, Registrar, President
The Gender variable will be either male or female
The determinant of whether a staff member has reached senior management level will be their Grade - those at SL2, SL3, Registrar & President will be considered at Senior Management level
Only staff categorised as Academic will be considered in this project.

In [3]:
#Import pandas, create columns for dataset.
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=['Age','Gender','Qualification','Years of Experience','Grade'])
df

Empty DataFrame
Columns: [Age, Gender, Qualification, Years of Experience, Grade]
Index: []

In [6]:
#insert age data into dataframe
df ['Age'] = np.random.randint(18, 66, 600)
df

     Age Gender Qualification Years of Experience Grade
0     40    NaN           NaN                 NaN   NaN
1     63    NaN           NaN                 NaN   NaN
2     39    NaN           NaN                 NaN   NaN
3     31    NaN           NaN                 NaN   NaN
4     55    NaN           NaN                 NaN   NaN
5     27    NaN           NaN                 NaN   NaN
6     18    NaN           NaN                 NaN   NaN
7     36    NaN           NaN                 NaN   NaN
8     44    NaN           NaN                 NaN   NaN
9     23    NaN           NaN                 NaN   NaN
10    56    NaN           NaN                 NaN   NaN
11    35    NaN           NaN                 NaN   NaN
12    31    NaN           NaN                 NaN   NaN
13    57    NaN           NaN                 NaN   NaN
14    32    NaN           NaN                 NaN   NaN
15    44    NaN           NaN                 NaN   NaN
16    40    NaN           NaN                 NaN   NaN
17    48    NaN           NaN                 NaN   NaN
18    38    NaN           NaN                 NaN   NaN
19    61    NaN           NaN                 NaN   NaN
20    31    NaN           NaN                 NaN   NaN
21    39    NaN           NaN                 NaN   NaN
22    62    NaN           NaN                 NaN   NaN
23    45    NaN           NaN                 NaN   NaN
24    48    NaN           NaN                 NaN   NaN
25    33    NaN           NaN                 NaN   NaN
26    45    NaN           NaN                 NaN   NaN
27    39    NaN           NaN                 NaN   NaN
28    57    NaN           NaN                 NaN   NaN
29    59    NaN           NaN                 NaN   NaN
..   ...    ...           ...                 ...   ...
570   49    NaN           NaN                 NaN   NaN
571   34    NaN           NaN                 NaN   NaN
572   36    NaN           NaN                 NaN   NaN
573   31    NaN           NaN                 NaN   NaN
574   48    NaN           NaN                 NaN   NaN
575   58    NaN           NaN                 NaN   NaN
576   53    NaN           NaN                 NaN   NaN
577   29    NaN           NaN                 NaN   NaN
578   45    NaN           NaN                 NaN   NaN
579   49    NaN           NaN                 NaN   NaN
580   49    NaN           NaN                 NaN   NaN
581   41    NaN           NaN                 NaN   NaN
582   27    NaN           NaN                 NaN   NaN
583   19    NaN           NaN                 NaN   NaN
584   41    NaN           NaN                 NaN   NaN
585   30    NaN           NaN                 NaN   NaN
586   34    NaN           NaN                 NaN   NaN
587   26    NaN           NaN                 NaN   NaN
588   63    NaN           NaN                 NaN   NaN
589   49    NaN           NaN                 NaN   NaN
590   30    NaN           NaN                 NaN   NaN
591   31    NaN           NaN                 NaN   NaN
592   21    NaN           NaN                 NaN   NaN
593   59    NaN           NaN                 NaN   NaN
594   50    NaN           NaN                 NaN   NaN
595   24    NaN           NaN                 NaN   NaN
596   54    NaN           NaN                 NaN   NaN
597   24    NaN           NaN                 NaN   NaN
598   34    NaN           NaN                 NaN   NaN
599   59    NaN           NaN                 NaN   NaN

[600 rows x 5 columns]